.m-language {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
}

.m-language .w-form .field {
    margin-bottom: var(--g-size-22px);
}

.m-language .w-form .field .language {
    font-size: var(--g-size-16px);
    margin-bottom: var(--g-size-0px);
}

.m-language .w-form .field .language.selected {
    color: var(--g-theme-page-language-form-field-language-selected-color);
}