.m-forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
}

.m-forgot-password .w-form .field.captcha .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.m-forgot-password .w-form .field.captcha .name .get-captcha {
    color: var(--g-theme-page-forgot-password-form-captcha-name-get-captcha-color);
    font-size: var(--g-size-14px);
    text-align: right;
}

.m-forgot-password .w-form img.captcha {
    width: 100%;
    border-radius: var(--g-size-10px);
    margin-top: var(--g-size-4px);
    margin-bottom: var(--g-size-16px);
}

.m-forgot-password .w-form .w-btn {
    margin-top: var(--g-size-24px);
}