.m-forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
}

.m-forgot-password .w-form div.captcha {
    margin-top: var(--g-size-16px);
}

.m-forgot-password .w-form .w-btn {
    margin-top: var(--g-size-24px);
}