.m-about-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
}

.m-about-us .w-form .content p {
    text-indent: var(--g-size-32px);
    line-height: var(--g-size-36px);
    word-break: break-all;
}