.m-modify-login-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
}

.m-modify-login-password .w-form .w-btn {
    margin-top: var(--g-size-24px);
}